<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--?define NetFx480MinRelease = 528040 ?-->
  <?define NetFx452MinRelease = 379893 ?>
  <Product Id="*"
           Name="SizeOnDisk !(bind.FileVersion.ApplicationFile)"
           Language="!(loc.LANG)"
           Codepage="unicode"
           Version="!(bind.FileVersion.ApplicationFile)"
           Manufacturer="Sebastien Gariepy (sebasgariepy@gmail.com)"
           UpgradeCode="9d3f227e-e788-4982-a15a-056152359ef6">
    <Package Description="SizeOnDisk !(bind.FileVersion.ApplicationFile)"
           Manufacturer="Sebastien Gariepy (sebasgariepy@gmail.com)"
             InstallerVersion="200"
             Compressed="yes"
             InstallPrivileges='elevated'
             InstallScope='perMachine'
             Languages="!(loc.LANG)" />
    <Media Id="1"
           Cabinet="SizeOnDiskInstaller.cab"
           EmbedCab="yes" />
    <Upgrade Id="f5314c0d-47cd-43f7-97bc-80c62d07f0dd">
      <UpgradeVersion OnlyDetect="no"
                      Property="PREVIOUSFOUND"
                      Minimum="0.0.0"
                      MigrateFeatures="yes"
                      IncludeMinimum="yes"
                      Maximum="!(bind.FileVersion.ApplicationFile)"
                      IncludeMaximum="no" />
    </Upgrade>
    <MajorUpgrade DowngradeErrorMessage="!(loc.HigherVersionDetectedError)"
                  MigrateFeatures="yes"  />
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER"
                   Name="SizeOnDisk" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="DesktopFolder" />
    </Directory>
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationFileMenuShortcutComponent"
                 Guid="*">
        <Shortcut Id="ApplicationFileMenuShortcut"
                  Name="SizeOnDisk"
                  Description="SizeOnDisk"
                  Target="[#ApplicationFile]"
                  IconIndex="0" />
        <RemoveFile Id="ApplicationFileMenuShortcut"
                    Name="SizeOnDisk"
                    On="uninstall" />
        <RegistryValue Root="HKMU"
                       Key="Software\SizeOnDisk"
                       Name="MenuShortcut"
                       Type="string"
                       Value="[ProgramMenuFolder]SizeOnDisk.lnk"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationFileDesktopShortcutComponent"
                 Guid="*">
        <Shortcut Id="ApplicationFileDesktopShortcut"
                  Name="SizeOnDisk"
                  Description="SizeOnDisk"
                  Target="[#ApplicationFile]"
                  IconIndex="0" />
        <RemoveFile Id="ApplicationFileDesktopShortcut"
                    Name="SizeOnDisk"
                    On="uninstall" />
        <RegistryValue Root="HKMU"
                       Key="Software\SizeOnDisk"
                       Name="DesktopShortcut"
                       Type="string"
                       Value="[DesktopFolder]SizeOnDisk.lnk"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="CleanupMainApplicationFolder"
                 Guid="*">
        <RegistryValue Root="HKMU"
                       Key="Software\SizeOnDisk"
                       Name="ApplicationFolder"
                       Type="string"
                       Value="[APPLICATIONFOLDER]"
                       KeyPath="yes" />
        <util:RemoveFolderEx On="both"
                             Property="APPLICATIONFOLDER" />
      </Component>
      <Component Id="ApplicationComponent"
                 Guid="*">
        <util:RemoveFolderEx Property="APPLICATIONFOLDER"
                             On="both" />
        <CreateFolder />
        <File Id="ApplicationFile"
              Name="$(var.SizeOnDisk.TargetFileName)"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)$(var.SizeOnDisk.TargetFileName)"
              Checksum="yes"
              KeyPath="yes"
              Vital="yes" />
      </Component>
      <Component Id="XAMLMarkupExtensionsComponent"
                 Guid="*">
        <File Id="XAMLMarkupExtensionsFile"
              Name="XAMLMarkupExtensions.dll"
              DiskId="1"
              Source="$(var.SolutionDir)References\XAMLMarkupExtensions\XAMLMarkupExtensions.dll"
              KeyPath="yes"
              Checksum="yes"
              Vital="yes" />
      </Component>
      <Component Id="WPFLocalizeExtensionComponent"
                 Guid="*">
        <File Id="WPFLocalizeExtensionFile"
              Name="WPFLocalizeExtension.dll"
              DiskId="1"
              Source="$(var.SolutionDir)References\WPFLocalizeExtension\WPFLocalizeExtension.dll"
              KeyPath="yes"
              Checksum="yes"
              Vital="yes" />
      </Component>
      <Component Id="WPFByYourCommandComponent"
                 Guid="*">
        <File Name="WPFByYourCommand.dll"
              Id="WPFByYourCommandFile"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)WPFByYourCommand.dll"
              Vital="yes"
              Checksum="yes"
              KeyPath="yes" />
      </Component>
      <Component Id="SystemCollectionsImmutableComponent"
                 Guid="*">
        <File Name="System.Collections.Immutable.dll"
              Id="SystemCollectionsImmutableFile"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)System.Collections.Immutable.dll"
              Vital="yes"
              Checksum="yes"
              KeyPath="yes" />
      </Component>
      <Component Id="ConfigurationFileComponent"
                 Guid="*">
        <File Id="ConfigurationFile"
              Name="SizeOnDisk.exe.config"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)SizeOnDisk.exe.config"
              KeyPath="yes"
              Checksum="yes"
              Vital="no" />
      </Component>
      <Component Id="ApplicationDebugComponent"
                 Guid="*">
        <File Id="ApplicationDebugFile"
              Name="SizeOnDisk.pdb"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)SizeOnDisk.pdb"
              Checksum="yes"
              KeyPath="yes" />
      </Component>
      <Component Id="XAMLMarkupExtensionsDebugComponent"
                 Guid="*">
        <File Id="XAMLMarkupExtensionsDebugFile"
              Name="XAMLMarkupExtensions.pdb"
              DiskId="1"
              Source="$(var.SolutionDir)References\XAMLMarkupExtensions\XAMLMarkupExtensions.pdb"
              KeyPath="yes"
              Checksum="yes" />
      </Component>
      <Component Id="WPFLocalizeExtensionDebugComponent"
                 Guid="*">
        <File Id="WPFLocalizeExtensionDebugFile"
              Name="WPFLocalizeExtension.pdb"
              DiskId="1"
              Source="$(var.SolutionDir)References\WPFLocalizeExtension\WPFLocalizeExtension.pdb"
              KeyPath="yes"
              Checksum="yes" />
      </Component>
      <Component Id="WPFByYourCommandDebugComponent"
                 Guid="*">
        <File Name="WPFByYourCommand.pdb"
              Id="WPFByYourCommandDebugFile"
              DiskId="1"
              Source="$(var.SizeOnDisk.TargetDir)WPFByYourCommand.pdb"
              Checksum="yes"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="de"
                 Name="de">
        <Component Id="LanguageDEFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllDEFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageDEFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)de\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="es"
                 Name="es">
        <Component Id="LanguageESFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllESFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageESFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)es\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="fa"
                 Name="fa">
        <Component Id="LanguageFAFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllFAFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageFAFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)fa\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="fr"
                 Name="fr">
        <Component Id="LanguageFRFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllFrFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageFRFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)fr\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="it"
                 Name="it">
        <Component Id="LanguageITFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllITFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageITFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)it\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="pt"
                 Name="pt">
        <Component Id="LanguagePTFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllPTFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguagePTFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)pt\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="ru"
                 Name="ru">
        <Component Id="LanguageRUFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllRUFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageRUFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)ru\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
      <Directory Id="sv"
                 Name="sv">
        <Component Id="LanguageSVFileComponent"
                   Guid="*">
          <CreateFolder />
          <RemoveFile Id="AllSVFiles"
                      Name="*.*"
                      On="both" />
          <File Id="LanguageSVFile"
                Name="SizeOnDisk.resources.dll"
                DiskId="1"
                Source="$(var.SizeOnDisk.TargetDir)sv\SizeOnDisk.resources.dll"
                KeyPath="yes"
                Checksum="yes"
                Vital="no" />
        </Component>
      </Directory>
    </DirectoryRef>
    <Feature Id="AllFeatures" Display="expand" Title="SizeOnDisk"
             AllowAdvertise="no" Level="1">
      <Feature Id="ProductFeature"
               Absent="disallow"
               Title="Required files"
               AllowAdvertise="no"
               Level="1">
        <ComponentRef Id="CleanupMainApplicationFolder" />
        <ComponentRef Id="ApplicationComponent" />
        <ComponentRef Id="XAMLMarkupExtensionsComponent" />
        <ComponentRef Id="WPFLocalizeExtensionComponent" />
        <ComponentRef Id="WPFByYourCommandComponent" />
        <ComponentRef Id="SystemCollectionsImmutableComponent" />
      </Feature>
      <Feature Id="MenuShortcutFeature"
               Title="Programs menu shortcut"
               AllowAdvertise="no"
               Level="1">
        <ComponentRef Id="ApplicationFileMenuShortcutComponent" />
      </Feature>
      <Feature Id="DesktopShortcutFeature"
               Title="Desktop shortcut"
               AllowAdvertise="no"
               Level="1">
        <ComponentRef Id="ApplicationFileDesktopShortcutComponent" />
      </Feature>
      <Feature Id="ConfigurationFeature"
               Title="Configuration file"
               Level="2"
               AllowAdvertise="no"
               ConfigurableDirectory="APPLICATIONFOLDER">
        <ComponentRef Id="ConfigurationFileComponent" />
      </Feature>
      <Feature Id="LanguagesFeature"
               Title="Languages"
               AllowAdvertise="no"
               Level="1">
        <Feature Id="LanguageDEFeature"
                 Title="Deutsch"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageDEFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"de"]]></Condition>
        </Feature>
        <Feature Id="LanguageESFeature"
                 Title="!(loc.Espanol)"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageESFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"es"]]></Condition>
        </Feature>
        <Feature Id="LanguageFAFeature"
                 Title="Farsi"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageFAFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"fa"]]></Condition>
        </Feature>
        <Feature Id="LanguageFRFeature"
                 Title="!(loc.Francais)"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageFRFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"fr"]]></Condition>
        </Feature>
        <Feature Id="LanguageITFeature"
                 Title="Italiano"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageITFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"it"]]></Condition>
        </Feature>
        <Feature Id="LanguagePTFeature"
                 Title="!(loc.Portugues)"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguagePTFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"pt"]]></Condition>
        </Feature>
        <Feature Id="LanguageRUFeature"
                 Title="Russian"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageRUFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages><"ru"]]></Condition>
        </Feature>
        <Feature Id="LanguageSVFeature"
                 Title="Svenska"
                 AllowAdvertise="no"
                 Level="2">
          <ComponentRef Id="LanguageSVFileComponent" />
          <Condition Level="1"><![CDATA[WinInstalledLanguages >< "sv"]]></Condition>
        </Feature>
      </Feature>
      <Feature Id="DebugFeature"
               Title="Debugging files"
               AllowAdvertise="no"
               Level="2">
        <ComponentRef Id="ApplicationDebugComponent" />
        <ComponentRef Id="XAMLMarkupExtensionsDebugComponent" />
        <ComponentRef Id="WPFLocalizeExtensionDebugComponent" />
        <ComponentRef Id="WPFByYourCommandDebugComponent" />
      </Feature>
    </Feature>

    <Icon Id="SizeOnDiskIcon"
          SourceFile="Hard_Drive.ico" />
    <Property Id="ARPPRODUCTICON"
              Value="SizeOnDiskIcon" />
    <Property Id="ARPHELPLINK"
              Value="https://github.com/BeePerNet/SizeOnDisk" />
    <Property Id="APPLICATIONFOLDER"
              Secure="yes">
      <RegistrySearch Id="FindInstallLocation"
                      Root="HKLM"
                      Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
                      Name="InstallLocation"
                      Type="raw"
                      Win64="no" />
      <RegistrySearch Key="Software\SizeOnDisk"
                      Root="HKLM"
                      Type="raw"
                      Id="APPLICATIONFOLDER_REGSEARCH"
                      Win64="no"
                      Name="Path" />
    </Property>
    <WixVariable Id="WixUILicenseRtf"
                 Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp"
                 Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp"
                 Value="dialog.bmp" />
    <Condition Message="This application is only supported on Windows 7-Vista or higher.">
      Installed OR (VersionNT &gt;= 600)
    </Condition>

    <WixVariable Id="WixUISupportPerUser"
                 Value="1" />

    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <!--Property Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED"
              Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED"
                 Value="1"
                 After="AppSearch">
      WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx480MinRelease)"
    </SetProperty>
    <PropertyRef Id="NETFRAMEWORK45" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED"/>
    <Condition Message="[ProductName] Requires .NET Framework 4.8.0 or later to be installed. Please install the .NET Framework then run this installer again. https://dotnet.microsoft.com/download/thank-you/net48.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED]]>
    </Condition-->
    <Property Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"
              Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"
                 Value="1"
                 After="AppSearch">
      WIXNETFX4RELEASEINSTALLED &gt;= "#$(var.NetFx452MinRelease)"
    </SetProperty>
    <Condition Message="[ProductName] Requires .NET Framework 4.5.2 or later to be installed. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <Property Id="WixAppFolder"
              Value="WixPerMachineFolder" />

    <Property Id="ApplicationFolderName"
              Value="SizeOnDisk" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
              Value="Launch" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"
              Value="1" />

    <UIRef Id="WixUI_Advanced" />
    <UI>
      <Publish Dialog="InstallDirDlg"
               Control="Next"
               Event="DoAction"
               Value="FindRelatedProducts">1</Publish>

      <Publish Dialog="InstallScopeDlg"
               Control="Next"
               Property="MSIINSTALLPERUSER"
               Value="1"
               Order="3">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallScopeDlg"
               Control="Next"
               Property="MSIINSTALLPERUSER"
               Value="{}"
               Order="2">WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="InstallScopeDlg"
               Control="Next"
               Event="DoAction"
               Value="WixSetDefaultPerMachineFolder"
               Order="3">WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="InstallScopeDlg"
               Control="Next"
               Event="DoAction"
               Value="WixSetDefaultPerUserFolder"
               Order="3">WixAppFolder = "WixPerUserFolder"</Publish>

      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

    </UI>


    <Binary Id="WixTools.CA.dll"
            src="$(var.SolutionDir)\WixTools\bin\$(var.Configuration)\WixTools.CA.dll" />

    <CustomAction Id="GetLanguages"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="WixTools.CA.dll"
                  DllEntry="GetLanguages" Impersonate="yes" />

    <Property Id="WixShellExecTarget"
              Value="[#ApplicationFile]" />

    <CustomAction Id="LaunchApplication"
                  BinaryKey="WixCA"
                  DllEntry="WixShellExec"
                  Execute="immediate"
                  Impersonate="no" />

    <!--CustomAction Id="LaunchApplication"
                  FileKey="ApplicationFile"
                  ExeCommand=""
                  Execute="immediate"
                  Impersonate="yes"
                  Return="asyncNoWait" /-->

    <InstallUISequence>
      <Custom Action="GetLanguages"
              Before="CostFinalize" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="GetLanguages"
              Before="CostFinalize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>

  </Fragment>
</Wix>